body {
    background-color: bisque;
    overflow-x: hidden;
    height: fit-content;
    overflow-x: hidden;
}

main {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    margin: auto;
    width: 1000px;
    border: 1px solid black;
}

#paragraph {
    position: relative;
    display: inline-block;
    width: 400px;
    top: 100px;
    z-index: 90;
    margin-right: 50px;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 100px;
    /* right: 0px; */
    z-index: 1;
    margin-left: 0;
    height: 300px;
    width: 300px;
    background-color: blue;
}

.step {
    margin-bottom: 75px;
    height: 600px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}
