body {
    width: 1400px;
    height: 100vh;
    max-width: 1600px;
    max-height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#main {
    width: 80%;
    height: 100%;
    margin: auto;
    /* border: 1px solid black; */
    justify-content: center;
    /* display: inline-block; */
}

#article {
    /* border: 1px solid black; */
    width: 30%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 60px 60px 0 20px;
    overflow: auto;
}

#graph {
    /* border: 1px solid black; */
    margin: 0 0 0 20px;
    width: 60%;
    height: 100%;
    display: inline-block;
    padding: 60px 60px 0 60px;
    overflow: auto;
    position: relative;
    /* box-shadow: 0 0 20px 0px grey; */
    background-color: bisque;
}

section {
    margin-bottom: 180px;
}

#leftbutton {
    background-color: bisque;
    display: inline-block;
    width: 80px;
    height: 100%;
    position: relative;
    right: 0;
    bottom:0;
    margin-right:10px;
}

#leftcontainer { 
    /* background-color: rgb(224, 177, 177); */
    display: inline-block;
    flex-grow: 1;
    position: relative;
    right: 0;
    text-align: right;
}

.center {
    margin: auto;
  }